*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.nav-left{
   display: flex;
   margin: 55px;
}
.nav-left:hover{
  padding-right: 240px;
  transition: all .5s ease;
}

.nav-left input{
    position: relative;
    width: 140px;
    height:35px;
    padding-left: 5.5%;
    border: 0px solid ;
    border-radius: 20px;
    outline: none;
    text-decoration: none;
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-weight: bolder;
    background-color:rgba(225, 224, 224, 0.249);

}
.nav-left i{
    position: absolute;
    left: 80px;
    top: 65px;
    color: darkgray;
    font-size: 15px;
}

/* nav-middle */

.nav-middle p{
    position: absolute;
    top: 55px;
    left: 42%;
    text-align: center;
    padding-top: 5px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    width: 190px;
    height: 40px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    box-shadow: 1px 2px 5px black;
    color: rgb(103, 101, 101);
}
.nav-middle p:hover{
    transform: scale(1.1);
    transition: all .5s ease;
}

/* nav-right */

.nav-right {
    text-decoration: none;
    position: absolute;
    top: 58px;
    right: 100px;
    letter-spacing: 10px;
    padding: 10px;
    font-size: 18px;
}
.nav-right a{
    color: darkgray;
}
.nav-right p{
    position: absolute;
    bottom: 25px;
    right: 10px;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px solid rgb(255, 255, 255);
    width: 18px;
    height: 20px;
    padding: 3px 4.5px;
    border-radius: 52%;
    background-color: blueviolet;
    color: white;
}
.nav-right i:hover {
    transform: scale(1.1);
    transition: all 1s ease;
    color: black;
}

.line{
    border-bottom: 1.5px solid rgba(188, 183, 183, 0.689);
    max-width: 100%;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
/* nav-bottom */


.nav-bottom .bottom{
    display: flex;
    max-width: 350px;
    padding-left: 280px;
    line-height: 70px;
}
.nav-bottom a{
    text-decoration: none;
    color: dimgrey;
    font-size: 16px;
    font-weight: 630;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 15px;
    margin-left: 25%;
}
.nav-bottom span:hover{
    color: rgb(150, 12, 174);

}
.nav-bottom span.Shop{
    color: rgb(150, 12, 174);
}

.nav-bar .simi-nav{
    position: relative;
    max-width: 100%;
    height: 50px ;
    background-color: rgba(236, 236, 236, 0.587);
    text-decoration: none;
    
}
.nav-bar .simi-nav pre{
    position: absolute;
    top: 10px;
    right: 84%;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 630;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-bar .simi-nav pre span{
    color: rgb(150, 12, 174);
    font-size: 16px;
    font-weight: 630;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* sec1 */
.sec1{
    position: relative;
}

.sec1 .thanks i{
    position: absolute;
    left: 49%;
    top: 100px;
    font-size: 70px;
    color: green;
}
.sec1 .thanks h1{
    position: absolute;
    left: 40%;
    top: 170px;
    font-size: 60px;
    font-weight: 630;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sec1 .thanks p{
    position: absolute;
    left: 40%;
    top: 265px;
    font-size: 19px;
    color: rgb(132, 111, 151);
    font-weight: 630;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* input */

.sec1 .thanks a input {
    position: absolute;
    left: 45%;
    top: 360px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: blueviolet;
    outline: none;
    text-decoration: none;
    border: none;
    width: 170px;
    height: 42px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    z-index: +1;
}
.sec1 .thanks a input:hover{
    box-shadow: 2px 5px 5px  black;
    background-color: rgb(83, 35, 128);
    transform: translateY(-5px);
    transition: all .5s ease-in;
}

/* footer */
.sec6{
    position: relative;
    top: 34pc;
    height: 500px;
}
.sec6 .border5{
    border-bottom: 2px solid rgba(169, 169, 169, 0.459);
    width: 1331px;
    position: absolute;
    left: -100px;
    bottom: 300px;
   
}
.sec6 .foot-left3{
    position: absolute;
    top: 60px;
    left: 430px;
    line-height: 40px;
    
}

.sec6 .foot-left3 a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 550;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.sec6 .foot-left3 p{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sec6 .foot-left3 p:hover{
    color: blueviolet;
}

.sec6 .foot-left2{
    position: absolute;
    top: 60px;
    left: 230px;
    line-height: 40px;
    
}

.sec6 .foot-left2 a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 550;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.sec6 .foot-left2 p{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sec6 .foot-left2 p:hover{
    color: blueviolet;
}


.sec6 .foot-left{
    display: block;
    position: absolute;
    left: 80px;
    padding: 10px;
    line-height: 60px;
    
}
.sec6 .foot-left h1{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 50px;
}
.sec6 .foot-left a{
  
    line-height: 40px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 550;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.sec6 .foot-left p{
    line-height: 40px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sec6 .foot-left p:hover{
    color: blueviolet;
}

/* __________________________ */

.sec6 .promo h1{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 50px;
    position: absolute;
    left: 50%;
    top: 10px;
}
.sec6 .promo img {
    width: 250px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 70px;
}
.sec6 .promo p {
    font-size: 16.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgb(110, 9, 205);
    position: absolute;
    left: 50%;
    top: 200px;
}
.sec6 .promo pre{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgb(132, 121, 143);
    position: absolute;
    left: 50%;
    top: 225px;
}

/* contact */

.contact{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 50px;
    position: absolute;
    left: 75%;
    top: 10px;
}
.contact .map{
  display: flex;
}
.contact .map i{
    font-size: 20px;
    color: blueviolet;
    position: absolute ;
    top: 60px;
}
.contact .map p{
    color: rgb(97, 94, 94);
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    line-height: 20px;
    padding-left: 20px;
    padding-top: 7px;
    text-align: center;
}
/* ------------- */
.contact .tele{
    
    display: flex;
    margin-top: 30px;
}
.contact .tele i{
    font-size: 20px;
    color: blueviolet;
}
.contact .tele p{
    color: rgb(97, 94, 94);
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    line-height: 20px;
    padding-left: 10px;
    text-align: center;
}
/* ------------------- */

.contact .email{
    display: flex;
    margin-top: 35px;
}
.contact .email i{
    font-size: 20px;
    color: rgb(98, 21, 171);
}
.contact .email p{
    color: rgb(97, 94, 94);
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    line-height: 20px;
    padding-left: 10px;
    text-align: center;
}
/* ---------- */

.sec6 .sub{
    position: absolute;
    top:240px ;
    right: 60px;
}
.sec6 .sub h1{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 50px;
}
.sec6 .sub input{
    width: 260px;
    height: 50px;
    border: 2px solid rgb(196, 193, 193);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    position: relative;
}

.sec6 .sub button{
    letter-spacing: 2px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-left: 5px;
    background-color: rgb(140, 68, 208);
    color: white;
    width: 80px;
    height:40px;
    border-radius: 5px;
    border: 0px solid ;
    outline: none;
    position: absolute; 
    right: 4px;
    top: 55px;
}
.sec6 .sub button:hover{
    box-shadow:1px 1px 5px black;
    transform: scale(1..9);
    transition: all .2s ease;
}
/* ----- */
.cpotright{
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(94, 90, 90);
    position: absolute;
    bottom: 60px;
    left: 25.5%;
}
.cpotright span a{
    text-decoration: none;
    color: rgb(117, 47, 183);
    font-weight: bold;

}

